.git
.env
.venv
.hf_cache
__pycache__
*.pyc
*.pyo
*.log

data
checkpoints
runs
docs

src/models/saved_lang_model.pkl
src/models/saved_emotion_model
src/models/saved_*

notebooks/.ipynb_checkpoints
notebooks/data
notebooks/reports
